@page "{key:long}"
@model barber.Pages.Statement.ValidateModel
@{
    ViewData["Title"] = "Validate Statement";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Statement.StatementType" class="control-label"></label>
                <input asp-for="Statement.StatementType" class="form-control" readonly="readonly" />
                <span asp-validation-for="Statement.StatementType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Statement.StatementText" class="control-label"></label>
                <input asp-for="Statement.StatementText" class="form-control" readonly="readonly" />
                <span asp-validation-for="Statement.StatementText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Statement.StatementJson" class="control-label"></label>
                <input asp-for="Statement.StatementJson" class="form-control" readonly="readonly" />
                <span asp-validation-for="Statement.StatementJson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Statement.CheckDatabaseKey" class="control-label"></label>
                <input asp-for="Statement.CheckDatabaseKey" class="form-control" readonly="readonly" />
                <span asp-validation-for="Statement.CheckDatabaseKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Validate" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <input asp-for="Results" readonly="readonly" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}