@page "/user/{UserName}/edit"
@attribute [Microsoft.AspNetCore.Authorization.Authorize(Roles = Security.Roles.Admin)]
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject barber.Data.Repositories.IReadRepository _ReadRepository;
@inject barber.Data.Repositories.IWriteRepository _WriteRepository;
@inject barber.Security.Services.IEncryptionService _EncryptionService;

<PageTitle>Edit User</PageTitle>

<a class="nav-link" href="/user/list">Back to List</a>

@if (User == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <form method="post" @onsubmit="Submit" @formname="user-edit-form">
        <AntiforgeryToken />
        <div class="form-group row mb-3">
            <label class="col-sm-2 control-label">User Name</label>
            <div class="col-sm-10">
                <InputText class="form-control" @bind-Value="User!.UserName" />
            </div>
        </div>
        <div class="form-group row mb-3">
            <label class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <InputText class="form-control" type="password" @bind-Value="Password" />
            </div>
        </div>
        <fieldset class="row mb-3">
            <legend class="col-form-label col-sm-2 pt-0">Permissions</legend>
            <div class="col-sm-10">
                <div class="form-check">
                    <InputCheckbox class="form-check-input" @bind-Value="User!.IsAdmin" />
                    <label class="form-check-label">Admin</label>
                </div>
                <div class="form-check">
                    <InputCheckbox class="form-check-input" @bind-Value="User!.IsEditor" />
                    <label class="form-check-label">Editor</label>
                </div>
                <div class="form-check">
                    <InputCheckbox class="form-check-input" @bind-Value="User!.IsApprover" />
                    <label class="form-check-label">Approver</label>
                </div>
                <div class="form-check">
                    <InputCheckbox class="form-check-input" @bind-Value="User!.IsExecutor" />
                    <label class="form-check-label">Executor</label>
                </div>
                <div class="form-check">
                    <InputCheckbox class="form-check-input" @bind-Value="User!.AllowCustom" />
                    <label class="form-check-label">Allow Custom</label>
                </div>
            </div>
        </fieldset>
        <button class="btn btn-primary" type="submit">Edit</button>
    </form>
}

@code {
    [Parameter]
    public string UserName { get; set; } = string.Empty;

    [Microsoft.AspNetCore.Components.SupplyParameterFromForm]
    public Data.Models.UserRequest? User { get; set; }

    [Parameter]
    public string? Password { get; set; }

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        var response = await _ReadRepository.SelectUserByName(UserName);
        User = Data.Models.UserRequest.Create(response);
    }

    private async System.Threading.Tasks.Task Submit()
    {
        if (User != null)
        {
            if (!string.IsNullOrEmpty(Password))
            {
                User.PasswordHash = _EncryptionService.OneWayEncrypt(Password);
            }
            User.EditByUserName = "default";
            var result = await _WriteRepository.UpdateUser(User);
            Navigation.NavigateTo("/user/list");
        }
    }
}
